<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/component/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/component/js/reg.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @*<script src="@Url.Content("~")"
*@</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index","Index")">Главная страница</a>
        <a class="navbar-brand" href="@Url.Action("Add","AddProduct")">Добавить новый товар</a>

        <form class="form-inline other-side" action="/Search/Search" method="post">
        @*<div class="other-side">*@
            <input type="text" class="form-control mr-sm-2" id="searchItem" name="searchItem"/>
            <button class="btn btn-outline-success my-sm-0 my-2" type="submit" id="search">Поиск!</button>
        @*</div>*@
        </form>
        <a href="@Url.Action("Index", "Store")" class="corz-pos"><img src="~/component/img/korz.jpg" height="30" width="50" /></a>
    </nav>

    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h2>Главная страница</h2>
            </div>
            <div class="col-md-2">
                <form id="authForm">
                    <div class="form-group">
                        <label for="email">Введите электронную почту</label>
                        <input type="email" id="emailAu" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="pass">Введите пароль</label>
                        <input type="password" id="passAu" class="form-control" />
                    </div>
                    <div>
                        <input type="button" class="btn btn-primary" value="Войти" id="auBut">
                        <a href="@Url.Action("Register","Register")"><input type="button" class="btn btn-primary reg-btn" value="Регистрация"></a>
                    </div>
                </form>
                <input type="button" class="btn btn-primary" value="Выйти" id="logoutBut">
            </div>
        </div>
        
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    @*@RenderBody()*@

    <script type="text/javascript">
        var _mail = document.cookie.replace("mail=","");

        window.onload = function () {
            $(".buy").hide();
            if (_mail == "") {
                $("#authForm").show();
                $("#logoutBut").hide();

            }
            else {

                $("#authForm").hide();
                $("#logoutBut").show();
            }
        };

        $("#logoutBut").click(function () {
            //_mail = "";
            //$.removeCookie("mail");
            //alert(_mail);
            $.ajax({
                method: "POST",
                url: "/Index/logout",
                success: function () {
                    $("#authForm").show();
                    $("#logoutBut").hide();
                }
            });
        });

        $("#auBut").click(function () {
            $.ajax({
                method: "POST",
                url: "/Index/auth",
                data: {
                    mail: $("#emailAu").val(),
                    pass: $("#passAu").val()
                },
                success: function () {
                    $("#authForm").hide();
                    $("#logoutBut").show();
                    //alert("WOW");
                }
            });
        });

        $(".corz-pos").click(function () {

        });
        //$("#search").click(function () {
        //    $.ajax({
        //        method: "GET",
        //        url: "/Search/Search"
        //    });
        //});
    </script>

</body>
</html>